frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/kongling.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/kongling.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/runtime-src/proj.ios_mac/restaurant.xcodeproj/xcuserdata/kongling.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/runtime-src/proj.android/build
frameworks/runtime-src/proj.android/app/build
frameworks/runtime-src/proj.android/app/release
frameworks/runtime-src/proj.android/app/.cxx
