<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,86}</string>
                <key>spriteSourceSize</key>
                <string>{282,86}</string>
                <key>textureRect</key>
                <string>{{355,77},{282,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bottem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,96}</string>
                <key>spriteSourceSize</key>
                <string>{750,96}</string>
                <key>textureRect</key>
                <string>{{637,77},{750,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,332}</string>
                <key>spriteSourceSize</key>
                <string>{750,332}</string>
                <key>textureRect</key>
                <string>{{0,673},{750,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_kitchen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,168}</string>
                <key>spriteSourceSize</key>
                <string>{586,168}</string>
                <key>textureRect</key>
                <string>{{750,196},{586,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,154}</string>
                <key>spriteSourceSize</key>
                <string>{750,154}</string>
                <key>textureRect</key>
                <string>{{0,196},{750,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,435}</string>
                <key>spriteSourceSize</key>
                <string>{750,435}</string>
                <key>textureRect</key>
                <string>{{750,673},{750,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,38}</string>
                <key>spriteSourceSize</key>
                <string>{115,38}</string>
                <key>textureRect</key>
                <string>{{703,0},{115,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_waiter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,293}</string>
                <key>spriteSourceSize</key>
                <string>{750,293}</string>
                <key>textureRect</key>
                <string>{{1031,380},{750,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{983,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{79,33}</string>
                <key>textureRect</key>
                <string>{{289,0},{79,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_increace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,80}</string>
                <key>spriteSourceSize</key>
                <string>{273,80}</string>
                <key>textureRect</key>
                <string>{{82,77},{273,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cash_desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,184}</string>
                <key>spriteSourceSize</key>
                <string>{563,184}</string>
                <key>textureRect</key>
                <string>{{1336,196},{563,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{1539,0},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{1306,0},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,230}</string>
                <key>spriteSourceSize</key>
                <string>{112,230}</string>
                <key>textureRect</key>
                <string>{{185,380},{112,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,117}</string>
                <key>spriteSourceSize</key>
                <string>{167,117}</string>
                <key>textureRect</key>
                <string>{{1387,77},{167,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{1022,0},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{147,0},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{529,0},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,42}</string>
                <key>spriteSourceSize</key>
                <string>{58,42}</string>
                <key>textureRect</key>
                <string>{{1076,0},{58,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{235,0},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{62,45}</string>
                <key>textureRect</key>
                <string>{{1244,0},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{587,0},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{1134,0},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{471,0},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{1189,0},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{645,0},{58,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{58,28}</string>
                <key>textureRect</key>
                <string>{{58,0},{58,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,187}</string>
                <key>spriteSourceSize</key>
                <string>{185,187}</string>
                <key>textureRect</key>
                <string>{{0,380},{185,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hearth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,239}</string>
                <key>spriteSourceSize</key>
                <string>{565,239}</string>
                <key>textureRect</key>
                <string>{{466,380},{565,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_earnings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{1751,0},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{1601,0},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_free_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{1406,0},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{1471,0},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_handbook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{82,79}</string>
                <key>textureRect</key>
                <string>{{0,77},{82,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1554,77},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{1676,0},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{1357,0},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{116,0},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{205,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,33}</string>
                <key>spriteSourceSize</key>
                <string>{103,33}</string>
                <key>textureRect</key>
                <string>{{368,0},{103,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,38}</string>
                <key>spriteSourceSize</key>
                <string>{165,38}</string>
                <key>textureRect</key>
                <string>{{818,0},{165,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,230}</string>
                <key>spriteSourceSize</key>
                <string>{169,230}</string>
                <key>textureRect</key>
                <string>{{297,380},{169,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>com_res.png</string>
            <key>size</key>
            <string>{1899,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482da35e9a2d8d4d3c3d6d9eb3247475:a80259d150d949925f66bd5d7c74b8d4:d561a555ee0edc575f88747aa24469e4$</string>
            <key>textureFileName</key>
            <string>com_res.png</string>
        </dict>
    </dict>
</plist>
