<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cook_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,232}</string>
                <key>spriteSourceSize</key>
                <string>{106,232}</string>
                <key>textureRect</key>
                <string>{{169,230},{106,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cook_back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,234}</string>
                <key>spriteSourceSize</key>
                <string>{108,234}</string>
                <key>textureRect</key>
                <string>{{230,694},{108,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cook_go_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,232}</string>
                <key>spriteSourceSize</key>
                <string>{153,232}</string>
                <key>textureRect</key>
                <string>{{275,230},{153,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cook_go_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,232}</string>
                <key>spriteSourceSize</key>
                <string>{148,232}</string>
                <key>textureRect</key>
                <string>{{0,462},{148,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>make_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,233}</string>
                <key>spriteSourceSize</key>
                <string>{113,233}</string>
                <key>textureRect</key>
                <string>{{0,694},{113,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>make_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,230}</string>
                <key>spriteSourceSize</key>
                <string>{111,230}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,230}</string>
                <key>spriteSourceSize</key>
                <string>{167,230}</string>
                <key>textureRect</key>
                <string>{{111,0},{167,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,232}</string>
                <key>spriteSourceSize</key>
                <string>{165,232}</string>
                <key>textureRect</key>
                <string>{{148,462},{165,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,231}</string>
                <key>spriteSourceSize</key>
                <string>{169,231}</string>
                <key>textureRect</key>
                <string>{{0,230},{169,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_front_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,230}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{278,0},{170,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner_push_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,232}</string>
                <key>spriteSourceSize</key>
                <string>{114,232}</string>
                <key>textureRect</key>
                <string>{{313,462},{114,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner_push_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,233}</string>
                <key>spriteSourceSize</key>
                <string>{117,233}</string>
                <key>textureRect</key>
                <string>{{113,694},{117,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>people_res.png</string>
            <key>size</key>
            <string>{448,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe95604031d292e24d712525f5bd2185:76e8e3441456b71fcbb70323cfeaaf22:076f0b7e4cf646e8ff207cf748596adb$</string>
            <key>textureFileName</key>
            <string>people_res.png</string>
        </dict>
    </dict>
</plist>
